h2 Log file: #{log.fileLog} (#{log.canRefresh})
a(href='/logs') back
a(href='/logs/#{log.id}') refresh
if log.canRefresh 
	a(href='/logs/refresh/#{log.id}') refresh from file
form(method='post',action='/logs/filter')
	input(type='hidden',name='id',value='#{log.id}')
	div Filter: 
		input(type='text',name='filter',autofocus)
		input(type='submit') 
ul.logs
	each item, i in logData
		li #{item}
if max
	a(href='/logs/#{log.id}/#{max}') show more
	a(href='/logs/#{log.id}/0') show all	