<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>

  <div class="field">
  <%= f.label :parent_id %><br />
  <div class='input'>
      <%= select "activity", "parent_id", Activity.all.collect {|p| [ p.name, p.id ] }, :include_blank => true %>
  </div>


  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
