<h2>Recent activities</h2>

<ul class="unstyled activity-list">
  <% if activity_of_current_user.blank? %>
    <% 
		activities = recent_user_activities 
	%>
  <% else %>
    <% 
		activities = users_doing_the_same(activity_of_current_user)
		act_time = "ACT TIME"
	%>
  <% end %>
  <% activities.each do |ra| %>
	  <li>
		<img src="<%= ra[:user_picture] %>" alt="<%= ra[:user_name] %>" style="width:30px;height:30px" />
		<span><%= link_to ra[:user_name], user_path(ra[:user_id]) %></span>
		<%= render :partial => 'activities/activity_with_picture', :locals => {:activity_id => ra[:activity_id]} %>
		<%= act_time %>
	  </li>
  <% end %>
</ul>
